<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(28.545406, 77.273181);
		var myOptions = {
			zoom: 13,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(28.585006, 77.233581);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 36, Pollutant: PM25",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.601806, 77.273181);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 30, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.489006, 77.273181);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 26, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.564006, 77.291781);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 25, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.573605, 77.273181);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 24, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.545406, 77.301381);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 23, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.526806, 77.291781);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 22, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.505806, 77.233581);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 21, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.585006, 77.312781);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 19, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.545406, 77.244981);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 18, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.545406, 77.216781);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/FF0000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 10, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(28.545406, 77.273181);
		var img = new google.maps.MarkerImage('D:\projects\webdevlopment\hackiitd\virtualenv\lib\site-packages\gmplot\markers/008000.png');
		var marker = new google.maps.Marker({
		title: "AQI: 31, Pollutant: PM10",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(28.545359, 77.273334),
new google.maps.LatLng(28.546933, 77.273950),
new google.maps.LatLng(28.547102, 77.274016),
new google.maps.LatLng(28.547294, 77.274103),
new google.maps.LatLng(28.547414, 77.274253),
new google.maps.LatLng(28.547571, 77.274342),
new google.maps.LatLng(28.548146, 77.274550),
new google.maps.LatLng(28.548830, 77.274407),
new google.maps.LatLng(28.549042, 77.274333),
new google.maps.LatLng(28.549229, 77.273927),
new google.maps.LatLng(28.549311, 77.273832),
new google.maps.LatLng(28.549413, 77.273776),
new google.maps.LatLng(28.549563, 77.273765),
new google.maps.LatLng(28.549714, 77.273690),
new google.maps.LatLng(28.550008, 77.273234),
new google.maps.LatLng(28.552130, 77.271413),
new google.maps.LatLng(28.552098, 77.270678),
new google.maps.LatLng(28.552072, 77.270310),
new google.maps.LatLng(28.552096, 77.270296),
new google.maps.LatLng(28.552128, 77.270277),
new google.maps.LatLng(28.552159, 77.270234),
new google.maps.LatLng(28.552176, 77.270179),
new google.maps.LatLng(28.552178, 77.270134),
new google.maps.LatLng(28.552164, 77.270078),
new google.maps.LatLng(28.555461, 77.267162),
new google.maps.LatLng(28.555895, 77.267963),
new google.maps.LatLng(28.555951, 77.268017),
new google.maps.LatLng(28.556021, 77.268043),
new google.maps.LatLng(28.556095, 77.268038),
new google.maps.LatLng(28.556161, 77.268001),
new google.maps.LatLng(28.556211, 77.267939),
new google.maps.LatLng(28.556237, 77.267860),
new google.maps.LatLng(28.556235, 77.267777),
new google.maps.LatLng(28.556206, 77.267699),
new google.maps.LatLng(28.556157, 77.267564),
new google.maps.LatLng(28.556201, 77.267525),
new google.maps.LatLng(28.557856, 77.266053),
new google.maps.LatLng(28.557931, 77.266060),
new google.maps.LatLng(28.558537, 77.265524),
new google.maps.LatLng(28.559598, 77.264429),
new google.maps.LatLng(28.560837, 77.263430),
new google.maps.LatLng(28.561137, 77.263232),
new google.maps.LatLng(28.561515, 77.262908),
new google.maps.LatLng(28.561631, 77.262751),
new google.maps.LatLng(28.562050, 77.262360),
new google.maps.LatLng(28.562467, 77.262070),
new google.maps.LatLng(28.562639, 77.261857),
new google.maps.LatLng(28.562716, 77.261541),
new google.maps.LatLng(28.563004, 77.261373),
new google.maps.LatLng(28.563315, 77.261224),
new google.maps.LatLng(28.563322, 77.261118),
new google.maps.LatLng(28.563319, 77.260925),
new google.maps.LatLng(28.563261, 77.260592),
new google.maps.LatLng(28.563229, 77.260394),
new google.maps.LatLng(28.563231, 77.260081),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#FFFF00",
strokeOpacity: 1.000000,
strokeWeight: 8
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(28.564149, 77.259926),
new google.maps.LatLng(28.564623, 77.259641),
new google.maps.LatLng(28.564938, 77.259242),
new google.maps.LatLng(28.565065, 77.258857),
new google.maps.LatLng(28.565256, 77.258276),
new google.maps.LatLng(28.565629, 77.258463),
new google.maps.LatLng(28.565968, 77.258633),
new google.maps.LatLng(28.566077, 77.258654),
new google.maps.LatLng(28.566295, 77.258636),
new google.maps.LatLng(28.566490, 77.258579),
new google.maps.LatLng(28.566647, 77.258511),
new google.maps.LatLng(28.568321, 77.257075),
new google.maps.LatLng(28.568373, 77.256971),
new google.maps.LatLng(28.568372, 77.256801),
new google.maps.LatLng(28.570164, 77.255303),
new google.maps.LatLng(28.570271, 77.255216),
new google.maps.LatLng(28.570575, 77.255000),
new google.maps.LatLng(28.570800, 77.254790),
new google.maps.LatLng(28.571313, 77.254345),
new google.maps.LatLng(28.571640, 77.254061),
new google.maps.LatLng(28.571999, 77.253749),
new google.maps.LatLng(28.572036, 77.253717),
new google.maps.LatLng(28.572241, 77.253539),
new google.maps.LatLng(28.572742, 77.253104),
new google.maps.LatLng(28.573149, 77.252751),
new google.maps.LatLng(28.573396, 77.252536),
new google.maps.LatLng(28.573461, 77.252480),
new google.maps.LatLng(28.574624, 77.251572),
new google.maps.LatLng(28.575077, 77.251219),
new google.maps.LatLng(28.575411, 77.250959),
new google.maps.LatLng(28.575449, 77.250929),
new google.maps.LatLng(28.576232, 77.250217),
new google.maps.LatLng(28.577267, 77.249475),
new google.maps.LatLng(28.577305, 77.249443),
new google.maps.LatLng(28.576567, 77.248518),
new google.maps.LatLng(28.576452, 77.248333),
new google.maps.LatLng(28.576356, 77.248191),
new google.maps.LatLng(28.576311, 77.248035),
new google.maps.LatLng(28.576259, 77.247730),
new google.maps.LatLng(28.576218, 77.247446),
new google.maps.LatLng(28.576101, 77.246627),
new google.maps.LatLng(28.576054, 77.246233),
new google.maps.LatLng(28.576032, 77.245856),
new google.maps.LatLng(28.576755, 77.245883),
new google.maps.LatLng(28.577491, 77.245873),
new google.maps.LatLng(28.578344, 77.245862),
new google.maps.LatLng(28.578389, 77.245861),
new google.maps.LatLng(28.578551, 77.245859),
new google.maps.LatLng(28.578669, 77.245857),
new google.maps.LatLng(28.578669, 77.245768),
new google.maps.LatLng(28.578650, 77.243123),
new google.maps.LatLng(28.578613, 77.241395),
new google.maps.LatLng(28.578613, 77.241338),
new google.maps.LatLng(28.578787, 77.241336),
new google.maps.LatLng(28.579229, 77.241321),
new google.maps.LatLng(28.579225, 77.241184),
new google.maps.LatLng(28.579627, 77.241170),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#FFA500",
strokeOpacity: 1.000000,
strokeWeight: 8
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(28.579225, 77.241184),
new google.maps.LatLng(28.579627, 77.241170),
new google.maps.LatLng(28.579613, 77.240208),
new google.maps.LatLng(28.580065, 77.240209),
new google.maps.LatLng(28.580065, 77.240201),
new google.maps.LatLng(28.580090, 77.240137),
new google.maps.LatLng(28.580141, 77.240114),
new google.maps.LatLng(28.580140, 77.239591),
new google.maps.LatLng(28.580129, 77.238815),
new google.maps.LatLng(28.580416, 77.238849),
new google.maps.LatLng(28.580445, 77.238761),
new google.maps.LatLng(28.580575, 77.238486),
new google.maps.LatLng(28.580829, 77.237996),
new google.maps.LatLng(28.580993, 77.238098),
new google.maps.LatLng(28.582406, 77.239165),
new google.maps.LatLng(28.582668, 77.239404),
new google.maps.LatLng(28.582933, 77.239600),
new google.maps.LatLng(28.583204, 77.239875),
new google.maps.LatLng(28.583288, 77.239938),
new google.maps.LatLng(28.583382, 77.240072),
new google.maps.LatLng(28.583407, 77.240272),
new google.maps.LatLng(28.583930, 77.240586),
new google.maps.LatLng(28.584069, 77.240663),
new google.maps.LatLng(28.584331, 77.240742),
new google.maps.LatLng(28.584471, 77.240756),
new google.maps.LatLng(28.585086, 77.240797),
new google.maps.LatLng(28.585447, 77.240821),
new google.maps.LatLng(28.585819, 77.240826),
new google.maps.LatLng(28.586024, 77.240742),
new google.maps.LatLng(28.586243, 77.240716),
new google.maps.LatLng(28.586477, 77.240721),
new google.maps.LatLng(28.586738, 77.240774),
new google.maps.LatLng(28.586903, 77.240851),
new google.maps.LatLng(28.586971, 77.240851),
new google.maps.LatLng(28.587367, 77.240830),
new google.maps.LatLng(28.587362, 77.240754),
new google.maps.LatLng(28.587277, 77.239490),
new google.maps.LatLng(28.587270, 77.239387),
new google.maps.LatLng(28.587267, 77.239346),
new google.maps.LatLng(28.587214, 77.238556),
new google.maps.LatLng(28.587072, 77.236699),
new google.maps.LatLng(28.587068, 77.236538),
new google.maps.LatLng(28.586912, 77.234612),
new google.maps.LatLng(28.586892, 77.234271),
new google.maps.LatLng(28.586851, 77.234179),
new google.maps.LatLng(28.586714, 77.234010),
new google.maps.LatLng(28.586651, 77.233959),
new google.maps.LatLng(28.586578, 77.233912),
new google.maps.LatLng(28.586092, 77.233962),
new google.maps.LatLng(28.585762, 77.233984),
new google.maps.LatLng(28.585548, 77.233950),
new google.maps.LatLng(28.585356, 77.233904),
new google.maps.LatLng(28.585222, 77.233831),
new google.maps.LatLng(28.585099, 77.233729),
new google.maps.LatLng(28.585014, 77.233575),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#6495ED",
strokeOpacity: 1.000000,
strokeWeight: 8
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
