<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext'>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style_login.css')}}">
</head>
<body>
<div class="materialContainer">
  <div class="box">
    <form id="login">
      <div class="title">LOGIN</div>
      <div class="input">
        <label for="name">User Email</label>
        <input type="email" name="name" id="name">
        <span class="spin"></span>
      </div>
      <div class="input">
        <label for="pass">Password</label>
        <input type="password" name="pass" id="pass">
        <span class="spin"></span>
      </div>
      <div class="button login">
        <button id='login_button' type="submit"><span>GO</span> <i class="fa fa-check"></i></button>
      </div>
      <a id='forgot' class="pass-forgot">Forgot your password?</a>
    </form>
  </div>


  <div class="overbox">
    <form id="register">
      <div class="material-button alt-2"><span class="shape"></span></div>
      <div class="title">REGISTER</div>
      <div class="input">
        <label for="regname">User Email</label>
        <input type="email" name="regname" id="regname">
        <span class="spin"></span>
      </div>
      <div class="input">
        <label for="regpass">Password</label>
        <input type="password" name="regpass" id="regpass">
        <span class="spin"></span>
      </div>
      <div class="input">
        <label for="reregpass">Repeat Password</label>
        <input type="password" name="reregpass" id="reregpass">
        <span class="spin"></span>
      </div>
      <div class="button">
        <button id='reg_button' type="submit"><span>NEXT</span></button>
      </div>
    </form>
  </div>
</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{{ url_for('static',filename='js/index_login.js')}}"></script>
<script>
  $(document).ready(
      function()
  {
      $('#register').on('submit', function(event) {
          if ($('#regpass').val() == $('#reregpass').val()) {

              $.ajax({
                  data :{
                      email : $('#regname').val(),
                      password :$('#regpass').val()

                  },
                  type : "POST",
                  url : '/register_action'
              })
                  .done(function(data){
                      if (data.error)
                      {
                          alert("Error")
                      }
                      else{
                        $(location).attr('href', '/')
                      }
                  });
          }
          else
          {
              alert('Password Incorrect')
          }
          event.preventDefault();
      });

      $('#login').on('submit', function(event) {
          $.ajax({
                    data :{
                        email : $('#name').val(),
                        password :$('#pass').val()
                    },
                    type : "POST",
                    url : '/login_action'
          })
              .done(function(data){
                  if (data.error)
                  {
                      alert("Error")
                  }
                  else{
                      $(location).attr('href', '/')
                  }
              });
          event.preventDefault();
      });
  });
</script>
<!--<script src="{{ url_for('static',filename='js/pace.min.js')}}js/login_verification.js"></script>-->
</body>
</html>
